{% extends "webv2/base.html" %}
{% block title %}Console{% endblock %}
{% load i18n %}

{% block css %}
{% endblock %}
{% block content %}

<div class="row">
  <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
    <div class="box box-info online_devices">
      <div class="box-header with-border">
        <h3 class="box-title">用户管理</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>AppID</th>
              <th>AppName</th>
              <th>AppKEY</th>
              <th>User Email</th>
              <th>Device History</th>
              <th>Management</th>
            </tr>
          </thead>
          <tbody>
            {% for app in records %}
            <tr title="{{app.create_time}}">
              <td>{{app.id}}</td>
              <td>{{app.app_name}}</td>
              <td>{{app.secret_key}}</td>
              <td>{{app.user.email}}</td>
              <td>{{app.device_set.count}}</td>
              <td>
                <a href="javascript:;" title="未实现！">禁用</a>
              </td>
            </tr>
            {% empty %}
            <tr><td colspan="5">暂空</td></tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="box-footer">
      {% include "webv2/paginator.html" %}
      </div>

    </div>
  </div>

</div>

{% endblock %}

{% block js %}
{% endblock %}
