{% extends "webv2/base.html" %}
{% block title %}Console{% endblock %}
{% load i18n %}

{% block css %}
{% endblock %}
{% block content %}

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="box box-info online_devices">
      <div class="box-header with-border">
        <h3 class="box-title">在线设备</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>ChipID</th>
              <th>AppID</th>
              <th>AppName</th>
              <th>email</th>
              <th>admin</th>
            </tr>
          </thead>
          <tbody>
            {% for dev in online_devs %}
            <tr>
              <td>{{dev.chipid}}</td>
              <td>{{dev.appid}}</td>
              <td>{{dev.app.app_name}}</td>
              <td>{{dev.app.user.email}}</td>
              <td>
                <a href="javascript:;">断开设备</a>
              </td>
            </tr>
            {% empty %}
            <tr><td colspan="4">暂空</td></tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

{% endblock %}

{% block js %}
{% endblock %}
